<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="assets" href="assets/css/noscript.css" /></noscript>
  </head>
 <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
        <div class="content">
          <div class="inner">
            <h1>About</h1>
          </div>
        </div>
      </header>
  <!-- About -->
  <div id="main">

  <article id="intro" style="padding: 0.1rem 1.5rem 0.5rem 1.5rem;">
    <!-- <span class="image main"><img src="images/pic01.jpg" alt="" rel="images"/></span> -->
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.      
    </p>
  </article>
</div>
    <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
  </body>
</html>