<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="assets" href="assets/css/noscript.css" /></noscript>
  </head>
 <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">Courses</a></li> -->
          </ul>
        </nav>
       <!--  <div class="logo">
          <span class="icon fa-diamond"></span>
        </div> -->
        <div class="content">
          <div class="inner">
            <h1>Contact</h1>
          </div>
        </div>
      </header>
        <br>
      <!-- Contact -->
        <article id="contact">
          <form class="gform" method="POST" data-email="serendipitysarah5700@gmail.com" action="https://script.google.com/macros/s/AKfycbykUwtCa-VM5kLPyuzv31GnHowvGgjvyGjv0hLTOQ/exec">
          <!-- <form method="post" action="#"> -->
            <div class="fields">
              <div class="field half">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="primary" /></li>
              <li><input type="reset" value="Reset" /></li>
            </ul>
            <!-- </form> -->
          </form>
        <!--   <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          </ul> -->
        </article>

    <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script> -->
   <!-- <script data-cfasync="false" type="text/javascript" src="form-submission-handler.js" rel="assets"></script> -->
  </body>
</html>