<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="assets" href="assets/css/noscript.css" /></noscript>
  </head>
 <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Welcome to Serendipity</h1>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/../about.html">About</a></li>
            <!-- <li><a href="#work">Work</a></li> -->
            <li><a href="/../classes.html">Classes</a></li>
            <li><a href="/../contact.html">Contact</a></li>
            <!--<li><a href="#elements">Elements</a></li>-->
          </ul>
        </nav>
      </header>
      <div id="main">

      </div>

    <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="jquery.min.js"></script>
   <script src="/assets/javascripts/browser.min.js"></script>
   <script src="/assets/javascripts/breakpoints.min.js"></script>
   <script src="/assets/javascripts/util.js"></script>
   <script src="/assets/javascripts/main.js"></script>
   <script data-cfasync="false" type="text/javascript" src="/../assets/javascripts/form-submission-handler.js"></script>

  </body>
</html>