<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="assets" href="assets/css/noscript.css" /></noscript>
  </head>
 <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Welcome to Serendipity</h1>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="#intro">About</a></li>
            <!-- <li><a href="#work">Work</a></li> -->
            <li><a href="/../courses.html">Classes</a></li>
            <li><a href="/../contact.html">Contact</a></li>
            <!--<li><a href="#elements">Elements</a></li>-->
          </ul>
        </nav>
      </header>
      <div id="main">


        <!-- Intro -->
          <article id="intro">
            <h2 class="major">About</h2>
            <!-- <span class="image main"><img src="images/pic01.jpg" alt="" rel="images"/></span> -->
            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my <a href="#work">awesome work</a>.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
          </article>
      </div>

     




    <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
  </body>
</html>