<%= form_with(model: admin_post, local: true) do |form| %>
  <% if admin_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

      <ul>
      <% admin_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
