<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="public" href="../../public/css/noscript.css" /></noscript>
  </head>
 <body class="is-preload">
    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
        <div class="content">
          <div class="inner">
            <h1>About</h1>
          </div>
        </div>
      </header>
  <!-- About -->

  <div id="main">
  <article id="intro" style="padding: 3rem 1.5rem 1rem 1.5rem;">

  <!-- <article id="intro" style="style=padding-top: 0.1px"> -->
    <div style="font-size: 1.6em; text-align: center; padding-bottom: 0.0px">  My mission is to help students learn how to dance in time with the planetary melodies
    </div>
    <p style="font-size: 1.2em">
    <span class="image.fit"> <%= image_tag "sp_headshot1-crop-shadow.png" %></span>
      Ever since I was a teenager I have been fascinated by how the interplay of planetary energies is reflected in our psyches. I began my teaching journey in my mid 20’s, offering a beginner class in Astrology at the Discovery Center in Chicago. After teaching that class for 5 years, I created a private astrology class for some of my devoted students. That group of amazing students helped solidify my absolute love of sharing my astrological knowledge. After 3 years I decided to expand my base even further, offering classes for all levels of astrologers and private readings. For the last 3 years, I have been building a Chicago based community of Astrologers through my Meetup and Facebook groups: “The Chicago Astrology and Esoteric Study Group”. 
      <br><br>
      I now offer regular, once a month, Saturday Meetups at Chicago’s best occult bookstore, Alchemy Arts. I also continue to teach at the Discovery Center every other month. And I offer over one hundred classes and readings a year out of my home. I am constantly updating my personal knowledge base to give insightful, accurate and down to earth natal and transit readings to my clients. I am always growing through my practice, and love to bring my clients and my students with me on my journey of knowledge.   
    </p>
  </article>
</div>
    <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="../../public/assets/jquery.min.js"></script>
   <script src="assets/javascripts/browser.min.js"></script>
   <script src="assets/javascripts/breakpoints.min.js"></script>
   <script src="assets/javascripts/util.js"></script>
   <script src="assets/javascripts/main.js"></script>
  </body>
</html>