<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Mark's CSS -->
    <link rel="stylesheets" type="text/css" href="main.css">
    <noscript><link rel="assets" href="assets/css/noscript.css" /></noscript>
<style>
  iframe {
    width: 640px;
    height: 790px;
    marginheight: 0%;
    marginwidth: 0%;
    frameborder: 0%;
    background-color: transparent;
    }

</style>
  </head>
 <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">    <!-- Header -->
      <header id="header">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">Courses</a></li> -->
          </ul>
        </nav>
       <!--  <div class="logo">
          <span class="icon fa-diamond"></span>
        </div> -->
        <div class="content">
          <div class="inner">
            <h1>Contact</h1>
          </div>
        </div>
      </header>
        <br>

      <!-- Contact -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxIh4TyzQwqtkNfXViLtRCTGJ-6amT9__K726hjku3tZRxsQ/viewform?embedded=true">Loading...</iframe>

      <!-- BG -->
      <div id="bg"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
   <script data-cfasync="false" type="text/javascript" src="form-submission-handler.js" rel="assets"></script>
 
  </body>
</html>